#improving-svg {
    position: absolute;
    fill: var(--the-red);
    width: 100px;
    height: auto;
    z-index: -3;
}

#github-icon-projects {
    fill: var(--forground-color);
    margin-left: -15px;
    margin-right: -1px;
    width: 19px;
    transition: all 0.3s ease;
    position: relative;
    top: 1px;
}

#github-icon-projects:hover {
    fill: red;
    position: relative;
}

@media (max-width: 768px) {
    #improving-svg {
        right: 10%;
        bottom: -10%;
    }
    
}

@media (min-width: 768px) {
    #improving-svg {
        top: 10%;
        right: 80%;
    }

    #project-side-div {
        position: fixed;
        right: 8%;
    }

    #project-side-div .highlight {
        margin-bottom: -5px;
    }


}