#tsparticles {
  position: fixed;
  z-index: -2;
}

#contact-profile img {
  border-radius: 50%;
}

      
#email-icon-contact {
  display: inline;
  fill: var(--forground-color);
  transition: all 0.3s ease;
  position: relative;
  bottom: 1px;
}

#linkedin-icon-contact {
  fill: var(--forground-color);
  transition: all 0.3s ease;
  position: relative;
  bottom: 1px;
  transition: all 0.2s ease;
}
#linkedin-icon-contact:hover, #linkedin-icon-contact:active {
  transform: scale(1.1);
  fill: var(--highlight-color);
}
#resume-icon-contact {
  fill: var(--forground-color);
  transition: all 0.3s ease;
  width: 16px;
  height: 16px;
  position: relative;
  bottom: 1px;
  transition: all 0.2s ease;
}
#resume-icon-contact:hover, #resume-icon-contact:active {
  transform: scale(1.1);
  fill: var(--highlight-color);
}

#location-svg {
  fill: var(--forground-color);
}

#contact-profile-name {
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(to left, var(--background-color), var(--forground-color), var(--background-color)) 1;
     border-image: linear-gradient(to left, var(--background-color), var(--forground-color), var(--background-color)) 1;
}

#email-contact, #location-contact {
  text-decoration: none;
  transition: all 0.2s ease;
}
#email-contact:hover, #email-contact:focus {
  color: var(--highlight-color);
}

#location-contact:hover, #location-contact:focus {
  color: var(--highlight-color)
}

@media (max-width: 768px) {
    #contact {
       margin-top: 14vh;      
    }

    #contact-profile img {
      max-width: 293px;
      transition: all 0.3s ease;
    }

    #contact-profile a {
      text-decoration: none; 
    };
    
}

@media (min-width: 768px) {
      #contact {
        margin-top: 18vh;
      }

      #contact-profile {
        border: 2px solid var(--forground-color);
        border-radius: 25px;
        background-color: var(--shadow-color);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
      }

}