:root {
  --background-color: #000000;
  --forground-color: gray;
  --color: white;
  --highlight-color: #00cee4;
  --vired-color: #141414;
  --vired-color-hover: rgb(55, 55, 55);
  --shadow-color: rgba(0, 0, 0, 0);
  --the-red: red;
  --if-theme: invert(100%) sepia(3%) saturate(7488%) hue-rotate(267deg) brightness(120%) contrast(99%);
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  width: 100vw;
}

section {
  min-height: auto !important;
}

#root {
  width: 100%;
  
}

.hidden {
  display: none;
}

body {
  color: var(--color);  
  background: var(--background-color);
  transition: all 0.2s ease;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.highlight {
  color: var(--highlight-color);
}

.text-color {
  color: var(--color);
}

.forground {
  color: var(--forground-color);
}

#Capa_1, #Capa_2 {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s ease;
}

#Capa_1:hover, #Capa_2:hover {
  transform: scale(1.2);
}

#Capa_2 {
  transform: rotate(10deg);
}

#scroll-indicator {
  background-color: var(--highlight-color);
}

#footer {
  margin-top: 25vh;
  text-align: center;
  margin-bottom: 30px;
}



.fadein {
  animation: fadein 0.2s ease;
}

.fadeout {
  animation: fadeout 0.3s ease-in;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {

  .h1-clamp {
    font-size: clamp(2rem , 10vw, 4rem);
  }

  .h2-clamp {
    font-size: clamp(2rem, 7vw, 3rem);
  }

  .h3-clamp {
    font-size: clamp(1.2rem, 4.5vw, 1.6rem)
  }

  .h4-clamp {
    font-size: clamp(1rem, 5vw, 1.1rem);
  }

  .p-clamp {
    font-size: clamp(0.8rem, 4vw, 1.1rem)
  }


  .middle {
    opacity: 0.3;
  }

      /* 3d animation styles */
  
  .container {
    perspective: 320px;
    width: 100px;
    height: 100px;
    position: absolute;  
    margin-left: calc(50% - 50px);  
  }
  .cube {
    width: 100px;
    height: 100px;
    position: relative;
    top: 100px;
    transform-style: preserve-3d;
    z-index: -2;
  }
  .side {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }
  .front {
    transform: rotateY(0deg) translateZ(100px);
    background-color: transparent;
    border: 1px solid var(--color);
  }
  .right {
    transform: rotateY(90deg) translateZ(100px);
    background-color: transparent;
    border: 1px solid var(--color);
  }
  .back {
    transform: rotateY(180deg) translateZ(100px);
    background-color: transparent;
    border: 1px solid var(--color);
  }
  .left {
    transform: rotateY(-90deg) translateZ(100px);
    background-color: transparent;
    border: 1px solid var(--color);
  }
  .top {
    transform: rotateX(90deg) translateZ(100px);
    background-color: transparent;
    border: 1px solid var(--color);
  }
  .middle {
    transform: rotateX(-90deg) translateZ(0px);
    opacity: 0.3;
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
    background-color: transparent;
    border: 1px solid var(--color);
  }
  .middle svg g {
    stroke: var(--highlight-color); 
  }
  
}
@media (min-width: 768px) {
  body {
    transition: all 0.2s ease;
  }

  .h1-clamp {
    font-size: clamp(3rem, 9vw, 7rem);
  }
  .h2-clamp {
    font-size: clamp(3rem, 8vw, 5rem);
  }
  .h3-clamp {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  .h4-clamp {
    font-size: clamp(0.9rem , 2vw, 1.5rem);
  }
  .p-clamp {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
  }

  #title-improving {
    margin-top: 40vh;
  }
  
    /* 3d animation styles */

.container {
  perspective: 800px;
  width: 200px;
  height: 200px;
  position: absolute;    
}
.cube {
  width: 200px;
  height: 200px;
  position: relative;
  top: 50px;
  transform-style: preserve-3d;
  z-index: -2;
}
.side {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.front {
  transform: rotateY(0deg) translateZ(150px);
  background-color: transparent;
  border: 1px solid var(--color);
}
.right {
  transform: rotateY(90deg) translateZ(150px);
  background-color: transparent;
  border: 1px solid var(--color);
}
.back {
  transform: rotateY(180deg) translateZ(150px);
  background-color: transparent;
  border: 1px solid var(--color);
}
.left {
  transform: rotateY(-90deg) translateZ(150px);
  background-color: transparent;
  border: 1px solid var(--color);
}
.top {
  transform: rotateX(90deg) translateZ(150px);
  background-color: transparent;
  border: 1px solid var(--color);
}
.middle {
  transform: rotateX(-90deg) translateZ(0px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(150px);
  background-color: transparent;
  border: 1px solid var(--color);
}
.middle svg g {
  stroke: var(--highlight-color); 
}

}/*# sourceMappingURL=App.css.map */