:root {
  --background-color: #000000;
  --forground-color: gray;
  --color: white;
  --highlight-color: #00cee4;
  --vired-color: #141414;
  --vired-color-hover: rgb(55, 55, 55);
  --shadow-color: rgba(0, 0, 0, 0);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root {
  width: 100%
}

.hidden {
  display: none;
}

body {
  background: var(--background-color);
  color: var(--color);
  transition: all 0.2s ease;
  height: 10000px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.highlight {
  color: var(--highlight-color);
}

#Capa_1, #Capa_2 {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s ease;
}

#Capa_1:hover, #Capa_2:hover {
  transform: scale(1.1);
}

#Capa_2 {
  transform: rotate(10deg);
}

#scroll-indicator {
   background-color: var(--highlight-color);
}

#title-name-svg {
  position: absolute;
  z-index: -1;
  width: 150px;
  height: 150px;
  left: 10%;
}

.fadein {
  animation: fadein 0.2s ease;
}

.fadeout {
  animation: fadeout 0.3s ease-in;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .profile-pic {
    width: 50vw;
    height: 50vw;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }

}

@media (min-width: 768px) {
  .h1-clamp {
    font-size: clamp(3rem, 9vw, 7rem);
  }

  .h2-clamp {
    font-size: clamp(1rem, 2.5vw, 2rem)
  }

  .p-clamp {
    font-size: clamp();
  }

  .profile-pic {
    width: 40vw;
    height: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }

  #navbar {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, var(--background-color), var(--forground-color), var(--background-color)) 1;
    padding: 1vh;
    padding-bottom: 2vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    margin-top: 0 !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--shadow-color);
  }

  #header-name {
    display: inline;
    font-family: "Lobster", sans-serif;
    color: var(--forground-color)
  }

  #navbar button {
    background-color: var(--shadow-color);
    backdrop-filter: blut(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--color);
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
    font-size: clamp(0.95rem, 1.5vw, 1.3rem);
    transition: all 0.3s ease;
  }

  #navbar button:hover {
    box-shadow: 0 0 10px 1px var(--color);
  }

  #theme-button:hover {
    box-shadow: none !important;
  }

  #title-name {
    margin-top: 22vh
  }

  #title-name-h1 {
    height: fit-content;
    font-weight: bolder;
    position: relative;
    bottom: 20px;
  }

  #title-name-h4 {
    position: relative;
    bottom: 20px;
  }

  #title-name-h4 span {
    color: var(--forground-color)
  }

  #title-name-h5-2 span {
    width: 1vw;
    height: 1vw;
    position: relative;
    left: 2px;
    margin-right: 10px;
    display: inline-block;
    background-color: limegreen;
    border-radius: 50%;
  }

  #title-name-h5-2 span span {
    inset: 0;
    position: absolute;
  }

  #title-name-button-div button {
    height: 2.5vw;
    border-radius: 5px;
    border: none;
    margin-top: 2vh;
    background-color: var(--vired-color);

    color: var(--color);
    transition: all 0.3s ease
  }

  #title-name-button-div button:hover {
    background-color: var(--vired-color-hover);
  }

  #title-name-button-div button svg {
    margin-bottom: 3px;
  }

  #title-name-button-div a {
    text-decoration: none;
  }

  #github-icon {
    display: inline;
    fill: var(--highlight-color);
  }

  #linkedin-icon {
    display: inline;
    fill: var(--highlight-color);
  }

  #email-icon {
    display: inline;
    fill: var(--highlight-color);
  }

  #arrow-svg {
    fill: var(--vired-color);
    height: 200px;
    position: absolute;
    left: 33%
  }

  #title-improving {
    margin-top: 20vh
  }

}/*# sourceMappingURL=App.css.map */


/* 3d animation styles */

.container {
  perspective: 800px;
  width: 200px;
  height: 200px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.6;
}

.front {
  transform: rotateY(0deg) translateZ(100px);
  background-color: var(--hue-1-transparent);
}
.right {
  transform: rotateY(90deg) translateZ(100px);
  background-color: var(--hue-2-transparent);
}
.back {
  transform: rotateY(180deg) translateZ(100px);
  background-color: var(--hue-3-transparent);
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: var(--hue-4-transparent);
}
.top {
  transform: rotateX(90deg) translateZ(100px);
  background-color: var(--hue-5-transparent);
}
.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: red;
}