@media (min-width: 768px) {
    #projects-div {
        margin-top: 20vh;
    }

    .projects-project {
        border: none;
        border-radius: 15px;
        background-color: var(--vired-color);
        padding-bottom: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
    }

    .projects-project:hover {
        box-shadow: 0 0 10px 1px var(--highlight-color);
    }

    .projects-project-img {
        width: 90%;
        height: 250px;
        object-fit: cover;
        margin-left: 5%;
        margin-top: 5%;
        border-radius: 15px;
    }

    .projects-project h4 {
        margin-top: 10px;
        margin-left: 5%;
    }

    .projects-project p {
        margin: -10px 0 0 5%;
    }

    .projects-watch-svg {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        border-radius: 15px;
    }

    .projects-watch-svg svg {
        fill: var(--highlight-color);
        width: 15%;
        height: auto;
        margin: 40% 0 0 calc(50% - 7.5%);
        transition: all 0.3s ease-out;
    }

    .projects-watch-svg svg:hover {
        fill: red;
    }
}