@media (max-width: 768px) {

}

@media (min-width: 768px) {
  #title-frameworks {
    margin-top: 35vh;
    height: 100%;
  }

  #title-frameworks-framework h3 {
    display: inline;
  }

  #title-frameworks-framework img {
    max-width: 32px;
    position: relative;
    display: inline;
    bottom: 5px;
    background-color: transparent;
  }
}